﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Transient: @ViewBag.TransientObject</p>
    <p>Scoped: @ViewBag.ScopedObject</p>
    <p>Singleton: @ViewBag.SingletonObject</p>
    <p>Transient 2: @ViewBag.TransientObject2</p>
    <p>Scoped 2: @ViewBag.ScopedObject2</p>
    <p>Singleton 2: @ViewBag.SingletonObject2</p>
    <p></p>
    <p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
