﻿@model IEnumerable<City>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    @foreach (var city in Model)
    {
        <tr>
            <td>@city.Name</td>
        </tr>
    }
</table>

<h1>Index</h1>

